h2 {
  color: rgb(240, 172, 238);
}

.size-selector {
  position: absolute;
  top: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.size-buttons {
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 15vw;
}

.size-button {
  margin: 1vw;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 172, 238);
  width: 17vw;
  padding: 18px;
  aspect-ratio: 1.5/1;
  border-radius: 10px;
  font-size: 5.5vw;
  cursor: pointer;
  transition: color 0.5s, background-color 0.5s;
}

.size-button:hover {
  background-color: rgb(240, 172, 238, 0.7);
  color: rgb(240, 198, 226);
}
