.square {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  aspect-ratio: 1/1;
  margin: 5px;
  transition: background-color 0.5s;
}

.big-square {
  height: 9vh;
  font-size: 6vh;
}

.small-square {
  height: 6vh;
  font-size: 4vh;
}

.shown {
  background-color: rgb(246, 167, 230);
  pointer-events: none;
}

.shown-eden-mode {
  background-color: rgb(246, 167, 230);
}

.hidden {
  background-color: rgb(221, 98, 204);
}

.matched {
  background-color: rgb(123, 232, 179);
  pointer-events: none;
}
